/* Main Section */
.mainSection {
    width: 100%;
    height: 100%;
    padding: 80px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
  }
  
  .container {
    width: 100%;
    max-width: 900px;

    border-radius: 10px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  .container h2{
    text-align: center;
    color: #f12222;
  }
  
  /* Form Styles */
  .movieFormWrapper {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    margin-top: 30px;
  }
  
  .movieForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* Form Group */
  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
  
  .label {
    font-size: 17px;
    font-weight: 700;
    color: #4e4e4e;
  }
  
  .selectField,
  .inputField {
    width: 100%;
    padding: 12px 0px;
    font-size: 14px;
    border-radius: 5px;
    border: 0;
    border-bottom: 2px solid #ddd;
    color: #000000;
    
  }

  .selectField:focus,
  .inputField:focus {
    outline: none;
    border-color: #ec1717;
  }
  
  /* Showtime Section */
  .showtimesWrapper {
    margin-top: 20px;
  }
  
  .showtimeRow {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .showtimeRow input {
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
 
  
  /* Submit Button */
  .submitButton {
    background-color:  #ec1717;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .submitButton:hover {
    background-color: rgb(244, 111, 111)7;
  }
  
  /* Messages */
  .successMessage,
  .errorMessage {
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .successMessage {
    background-color: #d4edda;
    color: #155724;
  }
  
  .errorMessage {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .mainSection {
      padding: 60px 0px;
    padding-bottom: 0px;
    }
  
    .showtimeRow {
      flex-direction: column;
      gap: 10px;
    }
  }
  