

.bookingConfirmation{

  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
 
}

.bookingConfirmation h1 {
  font-size: 40px;
  letter-spacing: 4px;
  margin-bottom: 10px;
  
}

.bookingConfirmation h1:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 30px;
  background-color: #ef2c2c;
  top: 40px;
  left: 80px;
}

.container {
  max-width: 570px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  margin-bottom: 20px;
  padding: 20px 0px;
}

.left {
  width: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  background-color: #ff3838;
  color: white;
  padding: 20px;
}

.right {
  flex: 1;
  padding-left: 20px;
}

.right p {
  font-size: 16px;
  color: #a7a7a7;
  margin-bottom: 10px;
}

.bookingConfirmation h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #37383a;
}

.calendar {
  font-size: 14px;
  color: #37383a;
  margin-bottom: 10px;
}

.mapPin{
  font-size: 14px;
  color: #37383a;

  
}

.mapPin span{
  font-size: 40px;
  margin-right: 10px;
  color: #2a2a2ae6;
  font-weight: 700;
  letter-spacing: 2px;
}

.seatContainer {
  margin-top: 10px;
}

.seat {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ff3838;
  border-radius: 4px;
  background-color: #ffe7e1;
}

.phoneSection {
  margin-top: 20px;
}

.phoneInput {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #9f9f9f;
  outline: none;
}

.priceWithButton{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.confirmButton {
  display: inline-block;
  background-color: #ff3838;
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.confirmButton:hover {
  background-color: #d74f4f;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.closeButton {
  background-color: #f12f3f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
