.bookingConfirmation {
  padding: 20px;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: 100vh;
  background-color: #f9f9f9;
  border: 1px solid rgba(60, 60, 60, 0.167);
  border-radius: 8px;
}

.details {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.details h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
}

.details p {
  font-size: 16px;
  color: #666;
  margin: 8px 0;
}

.confirmButton {
  background-color: #f12f3f;
  border: none;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.confirmButton:disabled {
  background-color: #ffacb3;
  cursor: not-allowed;
}

.confirmButton:hover {
  background-color: #e02424;
}

.phoneVerification{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.phoneInput {
  height: 100%;
  width: calc(100%);
  padding: 12px;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.verifyButton {
  width: 40%;
  padding: 12px ;
  margin-left: 10px;
  border: none;
  border-radius: 8px;
  background-color: #f12f3f;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.verifyButton:hover {
  background-color: #e02424;
}

.otpSection {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verifiedText{
  margin-left: 10px;
  
  color: green;
}
.otpInput {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  margin-right: 0px;
}

.errorMessage {
  color: #d9534f;
  font-size: 16px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .bookingConfirmation {
    padding-top: 100px;
  }

  .details {
    padding: 15px;
  }

  .confirmButton {
    padding: 10px 20px;
    font-size: 16px;
  }

  .phoneInput {
    width: calc(100% - 90px);
  }

  .otpInput {
    width: 100px;
  }
}
